<!DOCTYPE html>
<html>
    <head>
        <title>Rafil Alam</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        <link href='https://fonts.googleapis.com/css?family=Hanken Grotesk' rel='stylesheet'>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Rafil Alam's personal website showcasing projects, skills, and interests in computer science.">
    </head>
    <body>
        <main>
            <nav id="navbar">
                <div class="island left">
                    <a class="navbtn btn med specialtxt" href="/"><i class="bi bi-code-slash"></i> Rafil</a>
                </div>
                <div class="island center">
                    <a class="navbtn btn" href="/"><i class="bi bi-house"></i> Home</a>
                    <a class="navbtn btn" href="/projects"><i class="bi bi-archive"></i> My Projects</a>
                    <a class="navbtn btn navselected" href="/about"><i class="bi bi-file-earmark-person"></i> About Me</a>
                </div>
            </nav>
        </main>
    </body>