<!DOCTYPE html>
<html>
    <head>
        <title>Rafil Alam</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        <link href='https://fonts.googleapis.com/css?family=Hanken Grotesk' rel='stylesheet'>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Rafil Alam's personal website showcasing projects, skills, and interests in computer science.">
    </head>
    <body>
        <main>
            <nav id="navbar">
                <div class="island left">
                    <a class="navbtn btn med specialtxt" href="/"><i class="bi bi-code-slash"></i> Rafil</a>
                </div>
                <div class="island center">
                    <a class="navbtn btn" href="/"><i class="bi bi-house"></i> Home</a>
                    <a class="navbtn btn navselected" href="/projects"><i class="bi bi-archive-fill"></i> Projects</a>
                    <a class="navbtn btn" href="/achievements"><i class="bi bi-trophy"></i> Achievements</a>
                </div>
            </nav>
            
            <h1 id="projectsh1">Featured Software Development Projects</h1>

            <div class="grid">
                <div id="projs" class="island">
                    
                    <div class="cardholder">
                        <div class="profcard-l" onclick="window.open('https://github.com/RafilAlam/TrackMate-App', '_blank')">
                            <img class="cardimg-l" src="static/trackmate.png">
                            <p class="cardcontent-l specialtxt">TrackMate</p>
                            <p class="cardsubcontent-l">View Project</p>
                        </div>
                        <div class="profcard-l" onclick="window.open('https://github.com/RafilAlam/Hermes-the-AI-Assistant', '_blank')">
                            <img class="cardimg-l" src="static/hermes.png">
                            <p class="cardcontent-l specialtxt">Hermes: Desktop Assistant</p>
                            <p class="cardsubcontent-l">View Project</p>
                        </div>
                        <div class="profcard-l" onclick="window.open('https://github.com/RafilAlam/CLI-Messenger', '_blank')">
                            <img class="cardimg-l" src="static/portfoliowebsite.png">
                            <p class="cardcontent-l specialtxt">CLI Messaging App</p>
                            <p class="cardsubcontent-l">View Project</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>