<!DOCTYPE html>
<html>
    <head>
        <title>Rafil Alam</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        <link href='https://fonts.googleapis.com/css?family=Hanken Grotesk' rel='stylesheet'>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Rafil Alam's personal website showcasing projects, skills, and interests in computer science.">
    </head>
    <body>
        <main>
            <div id="hellobg">
                <p id="hello">Hello</p>
                <script>

                    function sleep(ms) {
                        return new Promise(resolve => setTimeout(resolve, ms));
                    }

                    const hellos = ["Hello", "Bonjour", "Guten Tag", "Ciao", "Olá", "Salam", "你好", "வணக்கம்", "হ্যালো"];
                    const p = document.getElementById('hello');
                    let i = 0;
                    async function run() {
                        await sleep(1000);
                        const id = setInterval(() => {
                            if (i == (hellos.length-2)) {
                                clearInterval(id);
                            }
                            i = (i + 1) % hellos.length;
                            p.innerHTML = hellos[i];
                        }, 150);
                    }

                    run();
                </script>
            </div>
            <nav id="navbar">
                <div class="island left">
                    <a class="navbtn btn med specialtxt" href="/"><i class="bi bi-code-slash"></i> Rafil</a>
                </div>
                <div class="island center">
                    <a class="navbtn btn navselected" href="/"><i class="bi bi-house-fill"></i> Home</a>
                    <a class="navbtn btn" href="/projects"><i class="bi bi-archive"></i> Projects</a>
                    <a class="navbtn btn" href="/achievements"><i class="bi bi-trophy"></i> Achievements</a>
                </div>
            </nav>
            
            <div id="landingnav">
                <br><br><br><br>
                <div id="Intro">
                    <img id="profile" src="static/profile-edited.jpg">
                    <div>
                        <h1 style="width: 60%;" class="large">
                            Hello, I'm
                            <span id="name" class="huge specialtxt accentg inline">
                                <span style="--i:0">R</span>
                                <span style="--i:1">a</span>
                                <span style="--i:2">f</span>
                                <span style="--i:3">i</span>
                                <span style="--i:4">l</span>
                                <span style="--i:5">!</span>
                            </span>
                        </h1>
                        <h3 class="">A <span class="emphasise specialtxt accentr"> &ltself-taught&gt </span> Computer Scientist</h3>
                    </div>
                </div>
                <div class="grid">
                    <div id="projnav">
                        <p style="margin-top: -70px; margin-bottom: -30px" class="huge">I...</p>
                        <div class="pair"><span class="huge">➔</span> <a id="design" class="btn huge accentv" href="/design">DESIGN</a></div>
                        <div class="pair"><span class="huge">➔</span> <a id="build" class="btn huge accenty" href="/build">BUILD</a></div>
                        <div class="pair"><span class="huge">➔</span> <a id="think" class="btn huge accentg" href="/think">THINK</a></div>
                        <div class="pair"><span class="huge">&</span> <span class="huge">➔</span> <a id="share" class="btn huge accentr" href="/share">SHARE</a></div>
                    </div>
                    <div id="bio" class="island">
                        <h3 class="med">👋 About Me</h3>
                        
                        <div class="cardholder">
                            <div class="card-s">
                                <p>Self-taught from the internet</p>
                            </div>
                            <div class="card-s">
                                <p>I Build projects to help people</p>
                            </div>
                            <div class="card-s">
                                <p>Freelance developer</p>
                            </div>
                        </div>

                        <h3 class="med">💻 What I Do</h3>
                        <div class="cardholder">
                            <div class="card-s">
                                <p>Game, Web & App Development</p>
                            </div>
                            <div class="card-s">
                                <p>Data Structures and Algorithms</p>
                            </div>
                            <div class="card-s">
                                <p>Artificial Intelligence</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>